{%extends "base.html"%}
{%load static%}


{%block content%}
<div class="container mt-5 py-5">
    <div class="card mx-auto" style="width:25rem">
         <div class="card-header">
           ticket booking transaction Details 
         </div>
         <div class="card-body">
          <table class="table">
            <tbody> 
                <tr>
                    <td colspan="2">Movie Name:</td>
                    <td>{{ booking_obj.movie.title }}</td>               
                </tr>
                <tr>
                    <td colspan="2">Date</td>
                    <td>{{ booking_obj.daybooked }}</td>               
                </tr>
                <tr>
                    <td colspan="2">ShowTime</td>
                    <td>{{ booking_obj.timebooked }}</td>               
                </tr>   
              <tr>
                <td colspan="2">number of guest</td>
                <td>{{booking_obj.num_of_ticket}}</td>
              </tr>
             
              <tr>
                <td colspan="2">Total Amount</td>
                <td>NGN {{booking_obj.amount}}</td>
              </tr>
            </tbody>
          </table>
             <form id="paymentForm">
                 <input type="email" placeholder="enter your email" id="payer_email" name="email" class="form-control">
                <button type="submit" onclick="PayWithPaystack()" class="btn btn-success btn-block">Pay Now</button>
             </form>
            
         </div>
    </div>
</div>

{%endblock content%}

{% block extra_script%}
<script src="https://js.paystack.co/v1/inline.js"></script> 
<script>
    const paymentForm = document.getElementById('paymentForm');
    paymentForm.addEventListener("submit", PayWithPaystack, false);
    function PayWithPaystack(e){
        e.preventDefault();
        var handler = PaystackPop.setup({
        key: '{{paystack_public_key}}', // Replace with your public key
        email:document.getElementById('payer_email').value ,
        amount: "{{booking_obj.amount}}", 
        currency: 'NGN',
        ref:'{{booking_obj.reference_code}}', 
        channels:['card','mobile_money'],
        callback: function(response) {
            //this happens after the payment is completed successfully
            window.location.href="{% url 'verify' booking_obj.reference_code %}"
        },
        onClose: function() {
            alert('Transaction was not completed, window closed.');
        },
        });
        handler.openIframe();

    }
</script>


{%endblock extra_script%}